@import "../css/reset.css";
@font-face {
    font-family: 'Cantarell';
    font-style: normal;
    font-weight: 400;
    src: local('Cantarell Regular'), local('Cantarell-Regular'), url(https://fonts.gstatic.com/s/cantarell/v7/B50NF7ZDq37KMUvlO015jKJr.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
.wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
}
.header-and-logo{
    width: 100%;
    height: 149px;
}
.container-mobile-elements-right{
    display: none;
}
a{
    text-decoration: none;
    color: white;
}
.logo{
    width: inherit;
    height: 59%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    max-width: 100%;
    height: auto;
}
header{
    width: 100%;
    height: 37%;
    background-color: #6b9ad0;
    border-bottom: 4px solid #c6defa;
    display: flex;
    justify-content: center;
    align-items: center;
}
header::after{
    width: 20px;
    height: 20px;
    content: '';
    position: absolute;
    top: 133.7px;
    left: 49%;
    border-bottom: #c6defa 4px solid;
    border-right: #c6defa 4px solid;
    transform: rotate(45deg);
    z-index: 1;
    background-color: #6b9ad0; 
}
header a:hover{
    background-color: #053b79; 
}
.navigation{
    width: 90%;
    height: 100%;
}
.mobile-navigation{
    display: none;
}
.elementOFMenu{
    display: none;
    width: 7%;
    height: 90%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(124, 167, 217);
    background-color: rgb(124, 167, 217);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Arial";
    color: rgb(96, 141, 193);
}
header ul{
    font-size: 1.125em;
    font-family: "Arial";
    color: white;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    margin-right: 4%;
    margin-left: 2%;
}
main{
    max-width: 983px;
    max-height: 100%;
    display: flex;
    justify-content: center;
}
.content-blog{
    width: 66%;
    height: 100%;
    height: inherit;
    display: flex;
    flex-wrap: wrap;
}
.table-tags{
    display: none;
}
.blogoflowers{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}
h3{
    font-size: 1.25em;
    font-family: "Arial";
    color: rgb(105, 116, 124);
    margin: 1% 0;
}
.socials-container-table{
    display: flex;
}
.socials-container-table{
    display: none;
}
.blogoflowers img{
    max-width: 100%;
    max-height: 59%;
    margin-top: 7%;
}
.flowers{
    height: 58%;
}
.date-autor-socials{
    border-top: 2px solid rgb(226, 229, 232);
    border-bottom: 2px solid rgb(226, 229, 232);
    min-height: 8%;
    display: flex;
}
.date-autor-container{
    font-size: 0.75em;
    display: flex;
    width: 23%;
    align-items: center;
    font-family: "Arial";
    color: rgb(105, 116, 124);
}
.date-autor-container img{
    width: 6%;
    margin-top: 0;
    margin-right: 3%;
}
.date-autor-container p{
    min-height: 11px;
    overflow: hidden;
    max-height: 25px;
}
.socials-container{
    display: flex;
    width: 64%;
    justify-content: flex-end;
    align-items: center;
}
.mobile-socials-container{
    display: none;
}
.facebook{
    background-image: url("../assets/social-icons-desctop.png");
    width: 11%;
    height: 64%;
    background-position: -13px -16px;
    padding-right: 2%;
    padding-bottom: 1%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.2em;
}
.google{
    background-position: -59px -16px;
    width: 10%;
}
.twitter{
    background-position: -105px -16px;
}
.vk{
    background-position: 96px -16px;
}
.yandex{
    background-position: 50px -16px;
    width: 10%;
}
.text-container{
    max-height: 100%;
    margin-top: 3%;
    text-align: justify;
    font-size: 0.75em;
    font-family: "Arial";
    color: rgb(105, 116, 124);
}

.colorful-colors{
    margin-top: 5%;
    width: 100%;
    max-height: 100%;
}
.colors{
    max-width: 100%;
    max-height: 55%;
    margin-top: 2%;
    width: 100%;
}
.info-container{
    margin-left: 2%;
    width: 27%;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.info-container .socials-container{
    display: none;
}
.about{
    margin-top: 17%;
    max-height: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    width: 100%;
    height: 11%;
    font-family: 'Cantarell';
    border-bottom: 4px solid rgb(103, 148, 183);
    align-items: center;
    margin-bottom: 5%;
}
.square{
    width: 18%;
    height: 100%;
    background-color: rgb(103, 148, 183);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5em;
}
.title h4{
    margin-left: 4%;
    text-transform: uppercase;
    color: rgb(103, 148, 183);
    font-size:  1.25em;
    font-weight: 600;
}
.about p, .some-info p{
    text-align: justify;
    font-size: 0.75em;
    font-family: "Arial";
    color: rgb(105, 116, 124);
    line-height: 1.5;
    max-height: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.some-info{
    max-height: 25%;
    margin-top: 11%;
    display: flex;
    flex-direction: column;
}
.tags-container{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.tags-container a{
    position: relative;
    margin-top: 7px;
    margin-right: 25px;
    padding: 7px;
    color: white;
    background-color: rgb(103, 148, 183);
    z-index: 1;
}
.tags-container a::before{
    z-index: 0;
    content: '';
    position: absolute;
    width: 0px; 
    height: 0px; 
    right: -30px; 
    bottom: 4px; 
    content: '';
    position: absolute;
    bottom: 0px;
    border: 15px solid transparent;
    border-left: 15px solid #6794b7;
}
.tags-container a:after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    right: -8px;
    bottom: 11px;
    background-color: #fff;
}
.load{
    display: flex;
    width: 100%;
    height: 183px;
    justify-content: center;
    align-items: center;
}
/*table*/
@media(max-width: 768px){
    header{
        justify-content: space-between;
    }
    header::after{
        left: 62%;
    }
    .elementOFMenu{
        display: flex;
    }
    main{
        justify-content: flex-end;
    }
    .content-blog{
        width: 85%
    }
    .about{
        display: none;
    }
    .some-info{
        display: none;
    }
    .date-autor-container{
        width: 30%;
    }
    .content-blog .socials-container{
        display: none;
    }
    .info-container .tags-container{
        display: none;
    }
    .info-container{
        min-width: 50px;
        width: 7%;
        margin-top: 5%;
        margin-left: 0;
    }
    .info-container .socials-container{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 13%;
        margin-bottom: 408%;
    }
    .info-container .facebook{
        background-image: url("../assets/table-icons/social-icons-tablet-mobile.jpg");
        width: 73%;
        background-position: -13px -13px;
        height: 20%;
    }
    .info-container .google{
        background-position: -58px -13px;
    }
    .info-container .twitter{
        background-position: -108px -13px;
    }
    .info-container .vk{
        background-position: -159px -13px;
    }
    .info-container .yandex{
        background-position: 47px -13px;
    }
    .sosials-container-table{
        height: 100%;
    }
    .table-tags{
        display: flex;
        margin-top: 4%;
    }
    .table-tags .tags-container{
        justify-content: center;
    }
}
@media(max-width: 380px){
    .logo a{
        width: 90%;
    }
    .elementOFMenu{
        display: none;
    }
    .navigation{
        display: none;
    }
    header::after {
        display: none;
    }
    header{
        border: none;
    }
    .mobile-navigation{
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }
    .container-mobile-elements-left{
        display: flex;
        width: 60%;
        height: 100%;
        align-items: center;
    }
    .container-mobile-elements-left a , .toggle{
        margin: 0 1%;
        width: 22%;
        height: 90%;
        border-style: solid;
        border-width: 2px;
        border-color: rgb(124, 167, 217);
        background-color: rgb(124, 167, 217);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-family: "Arial";
        color: rgb(96, 141, 193);
    }
    .container-mobile-elements-right{
        display: flex;
        width: 10%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .toggle{
        border: none;
        background-color: inherit;
        color: rgb(124, 190, 217);
        font-size: 27px;
        width: 100%;
    }
    .table-tags{
        display: none;
    }
    .info-container{
        display: none;
    }
    main{
        justify-content: center;
    }
    .blogoflowers img {
        max-height: 25%;
    }
    h3{
        text-align: center;
        background-color: rgba(226, 229, 232, 0.38);
        margin: 0;
        height: 11%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .date-autor-socials{
        border-top: none;
        height: 37px;
    }
    .date-autor-container{
        width: 50%;
    }
    .mobile-socials-container{
        margin-top: 3%;
        display: flex;
        justify-content: space-between;
    }
    .mobile-socials-container .facebook{
        background-image: url("../assets/table-icons/social-icons-tablet-mobile.jpg");
        width: 13%;
        background-position: -13px -14px;
        height: 20%;
    }
    .mobile-socials-container .google{
        background-position: -57px -14px;
    }
    .mobile-socials-container .twitter{
        background-position: -107px -14px;
    }
    .mobile-socials-container .vk{
        background-position: -157px -14px;
    }
    .mobile-socials-container .yandex{
        background-position: 49px -14px;
    }
    .colorful-colors{
        height: 46%;
    }
    .load{
        height: 60px;
    }
}

.spinner {
    animation-name: spin; animation-duration: 1000ms;
    animation-iteration-count: infinite; 
    animation-timing-function: linear; } 
    @keyframes spin { 
        from { 
            transform:rotate(360deg); 
        } to { 
            transform:rotate(0deg); } 
        }
